@import 'tailwindcss';
@theme {
  --color-BgColor: rgb(245, 240, 240) / <alpha-value>;
}

@layer base {
  :root {
    /* Your default theme */
    --background: white;
    --foreground: rgb(26, 25, 25);
  }

  [data-theme='dark'] {
    --background: rgb(26, 25, 25);
    --foreground: white;
  }
}
